@use "@styles/base" as *;

.winner {
  @mixin mod($mod) {
    @include modifier("winner", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .winner_#{$mod} & {
        @content;
      }
    }
  }

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include option(gap, 12px);
  opacity: 0;

  &_active {
    opacity: 1;
  }

  &_prev,
  &_next {
    opacity: 0.2;
    position: relative;
    @include option(top, -18px);
  }

  &__imgWrap {
    position: relative;
    height: max-content;
  }

  &__play {
    @include option(padding-top, 26px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #47010170;
    border-radius: 28px;
    color: white;
  }

  &__playLink {
    @include option(margin-top, 4px);
  }

  &__playImg {
    @include option(width, 92px, 80px);
  }

  &__name {
    display: flex;
    flex-direction: column;
    color: $BLACK;
    font-weight: $FW-SEMI_BOLD;
    @include option(font-size, 21, 22);
    @include option(margin-bottom, 8px);
  }

  &__prize {
    position: relative;
    width: 100%;
    @include option(font-size, 26, 23);
    color: #ea1d42;
    font-weight: $FW-BOLD;
    display: flex;
    align-items: center;
    //justify-content: center;
    @include option(gap, 9);
    @include option(margin-top, -2px);

    &::before {
      content: url("/images/winners/cup.png");
      position: absolute;
      @include option(left, -30px);
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      @include option(width, 31px, 27px);
    }
  }

  &__img {
    width: 100%;
  }
}
