@use "@styles/base" as *;

.winner {
  @mixin mod($mod) {
    @include modifier("winner", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .winner_#{$mod} & {
        @content;
      }
    }
  }

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include option(gap, 14);
  opacity: 0;

  &_active {
    opacity: 1;
  }

  &_prev,
  &_next {
    opacity: 0.2;
  }

  &__imgWrap {
    position: relative;
    height: max-content;
  }

  &__play {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #47010170;
    border-radius: 28px;
    color: white;
  }

  &__playImg {
    @include option(width, 92px, 80px);
  }

  &__name {
    color: $BLACK;
    font-weight: $FW-SEMI_BOLD;
    @include option(font-size, 21, 22);
  }

  &__prize {
    @include option(font-size, 26, 23);
    color: #ea1d42;
    font-weight: $FW-BOLD;
    display: flex;
    align-items: center;
    @include option(gap, 9);

    &::before {
      content: url("/images/winners/cup.png");
      display: inline-block;
      @include option(width, 31, 37);
    }
  }

  &__img {
    width: 100%;
  }
}
