@use "@styles/base" as *;

.downloadAppCard {
  @mixin mod($mod) {
    @include modifier("downloadAppCard", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .downloadAppCard_#{$mod} & {
        @content;
      }
    }
  }

  @include option(width, 220px, 179px);
  @include option(height, 190px, 154px);
  @include option(padding, 28px 31px, 16px 23px);
  background-color: #f4f6ff;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0 #e5a27c66;

  &__img {
    @include option(margin-bottom, 13px, 13px);
  }
}
