@use "@styles/base" as *;

.winners {
  @mixin mod($mod) {
    @include modifier("winners", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .winners_#{$mod} & {
        @content;
      }
    }
  }
  position: relative;
  padding-bottom: 0;
  @include sectionLayer(75px, 44px);
  @include option(padding-bottom, 0);
  background:
    url("/images/bg-pattern-white.svg") left,
    radial-gradient(circle at 10% 100%, #ffedbe -20%, #ffffff 50%);

  &__header {
    align-self: start;
  }

  &__link {
    @include option(font-size, 17, 15);
  }

  &__content {
    display: flex;
    @include option(gap, 85px);
    @include DESKTOP {
      @include option(padding-left, 300px);
    }
  }

  &__imgBlock {
    position: absolute;
    @include option(left, 137px);
    bottom: 0;
    @include option(width, 354);
    margin-top: auto;
    @include NOT-DESK {
      display: none;
    }
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include option(gap, 28px, 35);
    @include option(padding-bottom, 65);
    @include option(width, 600px, 372px);
    --carousel-overflow: visible;
    --carousel-swiper-overflow: visible;
    --carousel-slide-bg: none;
  }

  &__carousel {
    position: relative;
  }

  &__carouselWrap {
    position: relative;
    @include option(width, 287px, 245px);
  }

  &__arrow {
    z-index: 4;
    @include option(width, 60, 52, 60);
    position: absolute;
    @include option(top, 107px, 90px);
    cursor: pointer;

    &_left {
      @include option(left, -82px, 0px, -82px);
    }
    &_right {
      @include option(right, -82px, 0px, -82px);
      transform: rotate(-180deg);
    }
  }

  &__arrowImg {
    width: 100%;
  }

  &__btnLink {
    text-decoration: none;
  }
}
