@use "@styles/base" as *;

.downloadApp {
  @mixin mod($mod) {
    @include modifier("downloadApp", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .downloadApp_#{$mod} & {
        @content;
      }
    }
  }

  position: relative;
  @include sectionLayer(51px, 33px, 78px 151px 0px, 44px 21px 0px);
  background:
    url("/public/images/bg-color-pattern.svg") no-repeat right/contain,
    linear-gradient(to bottom right, #fff8f1, #ffe2b6);

  @include MOBILE {
    background: linear-gradient(to bottom right, #fff8f1, #ffe2b6);
  }

  &__cosmonaut {
    @include option(width, 285);
    position: absolute;
    @include option(right, 159);
    @include option(top, -118px);

    @include NOT-DESK {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    @include option(width, 744px, 373px, 744px);
    line-height: 109%;
  }

  &__info {
    height: fit-content;
    @include option(margin-bottom, 62px, 18px);
    @include option(margin-left, 53px, 0px);
  }

  &__cardList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include option(width, 457, 374);
    @include option(gap, 17, 14);
    @include option(margin-bottom, 48px, 45px);
  }

  &__storeList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    @include option(row-gap, 12, 13);
    @include option(column-gap, 15);
    width: min-content;
  }

  &__img {
    display: flex;
    justify-content: center;
    z-index: 1;
    align-self: end;
    @include option(width, 564px, 415px);
    @include option(margin-top, -40px, 0px);
    @include option(margin-left, 64px, 0px);
  }

  &__store {
    @include option(width, 186px, 164px);
  }

  &__bg {
    @include positionBg;
  }
}
