@use "@styles/base" as *;

.resultCard {
  @mixin mod($mod) {
    @include modifier("resultCard", $mod) {
      @content;
    }
  }

  @mixin mods($mods...) {
    @each $mod in $mods {
      .resultCard_#{$mod} & {
        @content;
      }
    }
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  @include option(gap, 15px, 0px);
  text-align: center;
  @include option(width, 220px, 390px);
  @include MOBILE {
    flex-direction: row;
  }

  &__text {
    white-space: nowrap;
    @include MOBILE {
      text-align: left;
      margin-left: 15px;
    }
  }

  &__title {
    width: max-content;
    color: #ffcd17;
    @include option(font-size, 48px);
    line-height: 91%;
    font-weight: $FW-EXTRA_BOLD;
    @include option(margin-bottom, 10px, 0);

    @include MOBILE {
      width: min-content;
    }

    &_sm {
      @include option(font-size, 48px, 30px);
    }

    &_left {
      @include option(font-size, 40px, 45px);
      @include MOBILE {
        transform: translateX(-4%);
        white-space: wrap;
      }
    }
  }

  &__subtitle {
    @include option(font-size, 18, 17);

    &_bold {
      display: block;
      font-weight: $FW-BOLD;
    }
  }

  &__subtitleText {
    color: black;
  }
  &__subtitleIcon {
    fill: white;
  }

  &__imgWrap {
    flex-shrink: 0;
    @include option(height, 231px, 156px);
    @include option(width, 231px, 162px);
  }
}
