@use "@styles/base" as *;

.resultCard {
  @mixin mod($mod) {
    @include modifier("resultCard", $mod) {
      @content;
    }
  }

  @mixin mods($mods...) {
    @each $mod in $mods {
      .resultCard_#{$mod} & {
        @content;
      }
    }
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  @include option(gap, 20, 22);
  text-align: center;
  flex: 1;
  @include MOBILE {
    flex-direction: row;
  }

  &__title {
    @include option(width, 332, 232);
    color: #ffcd17;
    @include option(font-size, 48);
    font-weight: $FW-EXTRA_BOLD;
  }

  &__subtitle {
    @include option(font-size, 18, 17);

    &_bold {
      display: block;
      font-weight: $FW-BOLD;
    }
  }

  &__subtitleText {
    color: black;
  }
  &__subtitleIcon {
    fill: white;
  }

  &__imgWrap {
    @include option(height, 203, 149);
    @include option(width, 203, 149);
    border-radius: 50%;
    background-color: $WHITE;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    //width: 100%;
    height: 100%;
    //@include option(width, 190px, 140px);
  }
}
