@use "@styles/base" as *;

.results {
  @mixin mod($mod) {
    @include modifier("results", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .results_#{$mod} & {
        @content;
      }
    }
  }

  position: relative;
  @include sectionLayer(43px, 40px, 77px 149px 90px, 44px 17px 59px 20px);
  background: linear-gradient(to right, #ff684a, #ff3030);

  --value: 40;

  &_1 {
    --value: 42;
  }

  @include mod("1") {
    --value: 41;
  }

  &__bg {
    //overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    content: var(--value);
    //
    //&_1{
    //  --value: 67;
    //}
    //
    @include mod("1") {
      --value: 43;
    }
  }

  &__patternImg {
    @include option(width, 480px, 414px);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }

  &__title {
    @include option(letter-spacing, 0px, -0.4px);
  }
  &__list {
    @include option(width, 1048px, 414px, 800px);
    @include option(padding-left, 0px, 12px);
    @include option(margin-top, -4px, 0px);
    @include option(margin-bottom, 65px, 16px);
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(4, auto);
    @include option(gap, 0px, 25px);

    @include TABLET {
      grid-template-columns: repeat(2, auto);
    }

    @include MOBILE {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__card_right {
    @include DESKTOP {
      @for $i from 0 to 2 {
        &_#{$i} {
          transform: translateX(5% * $i);
        }
      }

      &_1 {
        position: relative;
        @include option(left, -10px, 0px);
      }
    }
  }

  &__btn {
    @include option(width, 287px, 280px);
    @include option(height, 68px);
    align-self: center;
    @include option(margin-top, -6px);
  }

  &__btnLink {
    text-decoration: none;
  }

  &__img {
    width: 100%;
  }

  &__bgItem {
    position: absolute;
    animation-name: shineStar;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    transition: all 1s ease-in-out;
    @include NOT-DESK {
      display: none;
    }
  }

  &__rocket {
    @include option(width, 203px);
    position: absolute;
    @include option(right, 90px);
    @include option(top, -129px);
    animation: none;
  }

  &__star_0 {
    @include option(width, 29px);
    @include option(right, 54px);
    @include option(top, 24px);
    animation-delay: 1s;
  }
  &__star_1 {
    @include option(width, 53px);
    @include option(right, 285px);
    @include option(top, 17px);
    animation-delay: 0.2s;
  }

  &__star_2 {
    @include option(width, 37px);
    @include option(right, 340px);
    @include option(top, -97px);
    animation-delay: 0.6s;
  }
  &__star_3 {
    @include option(width, 69px);
    @include option(right, 84px);
    @include option(top, -144px);
    animation-delay: 0.8s;
  }
}

@keyframes shineStar {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
