@use "@styles/base" as *;

.intro {
  position: relative;
  //height: 100vh;
  color: $WHITE;
  width: 100vw;
  @include option(padding-left, 41, 20);
  @include option(padding-right, 41, 20);

  &_bg_red {
    position: absolute;
    background:
      url("/static/images/bg-pattern.svg") no-repeat left/contain,
      linear-gradient(125deg, #ff3030, 75%, #ffb18f);
    left: 0;
    top: 0;
    bottom: 0;
    @include option(width, 801, 414);
    z-index: -1;
  }

  &_bg_img {
    position: absolute;
    background:
      url("/static/images/intro-car.png") no-repeat bottom center/contain,
      linear-gradient(#efd7bd00, #868ab0),
      url("/static/images/intro-rocket.png") no-repeat center/contain,
      url("/static/images/cosmos.png") no-repeat center/cover;
    right: 0;
    bottom: 0;
    top: 0;
    @include option(width, 639, 414);
    z-index: -1;
  }

  &__content {
    @include option(padding-left, 55, 16);
    height: 100%;

    text-transform: uppercase;
    font-weight: $FW-EXTRA_BOLD;
    @include option(max-width, 811, 423);
  }

  &__title {
    @include option(font-size, 67, 51);
    font-weight: $FW-EXTRA_BOLD;
  }

  &__list {
    display: flex;
    flex-direction: column;
    @include option(gap, 20, 10);
    @include option(margin-bottom, 40, 15);
  }

  &__wrapItem {
    display: flex;
    align-items: start;
    @include option(gap, 13, 7);

    &::before {
      content: url("/static/images/triangle.png");
      @include option(width, 28, 18);
    }
  }

  &__text {
    display: block;
    @include option(font-size, 42, 25);

    &_bg {
      background-color: $WHITE;
      color: #e3010f;
      @include option(font-size, 58, 32);
      border-radius: 7px;
      padding: 0 14px;
    }

    &_pos_abs {
      z-index: 100;
      position: absolute;
      background-color: $RED;
      font-size: 51px;
      padding: 8px;
      border-radius: 7px;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);

      &::before {
        content: "";
      }
    }
  }

  &__btn {
    margin-bottom: 16px;
  }

  &__ntv {
    font-size: 13px;
    font-weight: $FW-SEMI_BOLD;
    text-transform: none;
    display: flex;
    align-items: center;
    @include option(gap, 16, 12);
    @include option(width, 325, 321);
  }

  &__menImg {
    @include option(width, 482, 284);
    @include option(height, 580, 355);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-22%);
  }

  @mixin mod($mod) {
    @include modifier("intro", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .intro_#{$mod} & {
        @content;
      }
    }
  }
}
