@use "@styles/base" as *;

.intro {
  @mixin mod($mod) {
    @include modifier("triangle", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .intro_#{$mod} & {
        @content;
      }
    }
  }

  &_paddingLeft {
    @include option(padding-left, 13px, 0px);
  }

  position: relative;
  color: $WHITE;
  width: 100vw;
  text-transform: uppercase;

  &__bg {
    @include positionBg;
    overflow: hidden;
  }

  &__redBg {
    z-index: 2;
    position: absolute;
    //top: 0;
    left: 0;
    bottom: 0;
    @include option(width, 800px, 414px, 1023px);
    //height: min-content;
    @include option(height, 800px, 490px, 600px);
    background: linear-gradient(125deg, #ff3030, 75%, #ffb18f);
    @include NOT-DESK {
      margin-top: -100px;
      clip-path: polygon(50% 6%, 100% 13%, 100% 100%, 0% 100%, 0% 13%);
    }
  }

  &__cosmos {
    position: absolute;
    right: 0;
    @include option(bottom, -0px, 400px);
    @include option(width, 640px, 414px, 1024px);
  }

  &__imgCosmos {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__men {
    @include option(width, 482px, 284px, 482px);
    @include option(heigth, 585px, 360px);
    position: absolute;
    @include option(bottom, 0px, 330px);
    @include option(left, 615px, -49px);
    @include DESKTOP {
      z-index: 10;
    }
  }

  &__header {
    position: absolute;
  }

  &__content {
    display: flex;
    justify-content: start;
    align-items: start;
    @include option(padding, 152px 90px 166px 139px, 470px 18px 28px 35px, 700px 18px 28px 35px);

    @include TABLET {
      justify-content: center;
    }
  }

  &__info {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include NOT-MOB-2 {
      align-items: start;
      order: -1;
    }
  }

  &__triangleInfo {
    border: 100vw solid transparent;
    border-bottom: 30px solid orange;
  }

  &__title {
    margin: 0;
    @include option(margin-left, 14px, -20px);
    @include option(margin-bottom, 32px, 26px);
    @include option(font-size, 67px, 51px, 67px);
    letter-spacing: 2%;
    font-weight: $FW-EXTRA_BOLD;
  }

  &__prizes {
    display: flex;
    flex-direction: column;
    @include option(gap, 12px);
    @include option(margin-bottom, 41px, 15px);
  }

  &__priz {
    display: flex;
    flex-direction: column;
    @include option(gap, 2px);
    @include option(font-size, 43px, 25px, 43px);
    font-weight: $FW-EXTRA_BOLD;
    position: relative;
  }

  &__triangle {
    position: absolute;
    transform: translate(-150%, 8%);
  }

  &__btn {
    //@include option(width, 284px, 319px);
    @include option(margin-bottom, 20px);

    @include MOBILE {
      width: 100%;
    }
  }

  &__btnLink {
    text-decoration: none;
  }

  &__text {
    &_bg {
      width: max-content;
      background-color: $WHITE;
      color: #e3010f;
      @include option(font-size, 58px, 32px, 58px);
      border-radius: 7px;
      @include option(padding, 0px 7px);
    }

    &_bg-m {
      @include NOT-DESK {
        width: max-content;
        background-color: $WHITE;
        color: #e3010f;
        @include option(font-size, 58px, 32px, 58px);
        border-radius: 7px;
        @include option(padding, 0px 7px);
      }
    }

    &_pos_abs {
      @include NOT-MOB {
        & .intro__triangle {
          display: none;
        }
      }

      @include NOT-MOB {
        @include option(line-hight, 63px);
        @include option(font-size, 51px);
        width: max-content;
        z-index: 100;
        position: absolute;
        background-color: $RED;
        border-radius: 7px;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__img {
    display: block;
    @include option(width, 482px, 284px);
    transform: translateX(-15%);
    @include option(padding-top, 165);

    @include NOT-MOB-2 {
      transform: translateX(-37%);
    }
  }
}
