@use "@styles/base" as *;

.footer {
  position: relative;
  @include option(padding, 80px 207px 84px 207px, 15px 33px 39px 21px);
  display: flex;
  @include option(gap, 95px, 38px);
  background-color: #0f1114;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  white-space: pre-wrap;

  @include MOBILE {
    flex-direction: column;
  }

  &__leftColumn {
    @include option(width, 605px, 363px, 610px);
  }

  &__logo {
    @include option(margin-top, 12px);
    @include option(margin-bottom, 30px, 9px);
    @include option(width, 140px);
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    @include option(gap, 15px);
    @include option(margin-bottom, 29, 45);
  }

  &__textGrey {
    color: #7f858a;
    @include option(font-size, 10px);
    @include option(line-height, 15px);
  }

  &__line {
    height: 0.5px;
    background-color: #f3f6f8;
    @include option(margin-bottom, 34px, 40px);
  }

  &__mediaList {
    display: flex;
    @include option(gap, 20);
  }

  &__rightColumn {
    @include option(width, 330px);
    display: flex;
    flex-direction: column;
    @include option(gap, 20px);
  }

  &__associationsText {
    @include option(padding, 0px, 7px 5px);
  }

  &__parntersImgWrap {
    display: flex;
    flex-direction: row;
    @include option(gap, 29px, 11px);
  }

  &__parntersImg {
    //@include option(height, 51px, 39px);
    @include option(width, 46px, 35px);
  }

  &__textWhite {
    @include option(font-size, 14px, 12px);
    @include option(line-height, 15px);
    color: $WHITE;

    &_sm {
      @include option(font-size, 10px);
      @include option(line-height, 15px);
      @include option(margin-bottom, 17px, 17px);
    }
  }

  &__partnersBlock {
    display: flex;
    flex-direction: column;
    @include option(gap, 8px, 18);
    @include MOBILE {
      flex-direction: row;
      align-items: start;
    }

    &_smGap {
      @include option(gap, 22px, 18);
    }
  }

  &__associationsImg {
    flex-shrink: 0;
    @include option(width, 92px, 78px);
  }

  &__note {
    display: flex;
    flex-direction: column;
    @include option(gap, 3px);
  }
}
