@use "@styles/base" as *;

.footer {
  @include sectionLayer(86, 44);
  flex-direction: row;
  background-color: #0f1114;

  @include MOBILE {
    flex-direction: column;
  }

  &__logo {
    @include option(margin-bottom, 31, 13);
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    @include option(gap, 14, 18);
    @include option(margin-bottom, 29, 45);
  }

  &__textGrey {
    color: #7f858a;
    @include option(font-size, 10px);
  }

  &__line {
    height: 0.5px;
    background-color: #f3f6f8;
    @include option(margin-bottom, 33, 43);
  }

  &__mediaList {
    display: flex;
    @include option(gap, 20);
  }

  &__socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    @include option(width, 27);
    @include option(height, 27);
    border-radius: 50%;
    border: 1px solid #eac141;
  }

  &__rightColumn {
    display: flex;
    flex-direction: column;
    @include option(gap, 25, 35);
  }

  &__parntersImg {
    //@include options(width, 79, );
    display: flex;
    flex-direction: row;
    @include option(gap, 31, 11);
  }

  &__textWhite {
    @include option(font-size, 14, 12);
    color: $WHITE;
  }

  &__partnersBlock {
    display: flex;
    flex-direction: column;
    @include option(gap, 17, 18);

    @include MOBILE {
      flex-direction: row;
    }
  }
}
