@use "@styles/base" as *;

.security {
  @mixin mod($mod) {
    @include modifier("security", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .security_#{$mod} & {
        @content;
      }
    }
  }
  @include sectionLayer(63px, 42px, 78px 150px 150px, 42px 17px 65px);
  background: linear-gradient(to bottom right, #6a0c0c, #320101);

  &__title {
    @include option(width, 945, 377, 945);
    @include option(line-height, 60px, 40px);
    @include option(letter-spacing, 0px, -0.3px);
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;

    @include option(gap, 23px, 22px);

    @include NOT-DESK {
      flex-direction: column;
      align-items: center;
    }
  }

  &__list {
    width: max-content;

    &_desktop {
      display: grid;
      grid-template-columns: auto auto;
      @include option(gap, 12px);
      @include option(row-gap, 23px);

      @include MOBILE {
        display: none;
      }
    }

    &_mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      @include NOT-MOB-2 {
        display: none;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include option(gap, 28);

    @include NOT-DESK {
      order: -1;
    }
  }

  &__btn {
    @include option(width, 287px, 280px);
    @include option(height, 68px);
    @include option(font-size, 20px);
    @include option(letter-spacing, 1px, 1px);
    @include option(margin-top, 0px, -8px);
    @include DESKTOP {
      position: absolute;
      @include option(left, 656px);
      @include option(top, 297px);
    }
    //transform: translateX(50%);
  }

  &__img {
    @include option(width, 443, 375);
    @include option(margin-bottom, 0px, 28px);
    @include NOT-DESK {
      order: -1;
    }
  }

  &__carouselWrap {
    display: flex;
    justify-content: center;
    @include option(width, 414px);
    --carousel-slide-bg: none;
    @include option(margin-bottom, 40px);
    @include NOT-MOB-2 {
      display: none;
    }
  }

  &__swiper {
    @include option(width, 319px);
  }

  &__swiperSlide {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btnLink {
    text-decoration: none;
  }
}
