@use "@styles/base" as *;

.security {
  @mixin mod($mod) {
    @include modifier("security", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .security_#{$mod} & {
        @content;
      }
    }
  }
  @include sectionLayer(56px, 22px);
  background: linear-gradient(to bottom right, #6a0c0c, #320101);
  @include option(padding, 75px 140px 150px 140px, 47px 19px);

  &__title {
    @include option(width, 945, 377, 945);
  }

  &__content {
    //width: 100vw;
    display: flex;
    justify-content: center;
    @include option(gap, 20);

    @include NOT-DESK {
      flex-direction: column;
    }
  }

  &__list {
    width: max-content;

    &_desktop {
      display: grid;
      grid-template-columns: auto auto;
      @include option(gap, 12px);

      @include MOBILE {
        display: none;
      }
    }

    &_mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      @include NOT-MOB-2 {
        display: none;
      }
    }
  }

  &__carousel {
    width: 100vw;

    &_none {
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include option(gap, 28);

    @include NOT-DESK {
      order: -1;
    }
  }

  &__img {
    @include option(width, 443, 375);
  }

  &__carouselWrap {
    display: flex;
    justify-content: center;
    @include option(width, 414px);
    --carousel-slide-bg: none;
    @include NOT-MOB-2 {
      display: none;
    }
  }

  &__swiper {
    @include option(width, 319px);
  }

  &__swiperSlide {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btnLink {
    text-decoration: none;
  }
}
