@use "@styles/base" as *;

.customButton {
  @mixin mod($mod) {
    @include modifier("customButton", $mod) {
      @content;
    }
  }

  @mixin mods($mods...) {
    @each $mod in $mods {
      .customButton_#{$mod} & {
        @content;
      }
    }
  }

  border: none;
  background-color: $YELLOW;
  color: $BLACK;
  @include option(width, 287px);
  @include option(height, 68px);
  @include option(font-size, 19, 22);
  font-weight: $FW-SEMI_BOLD;
  border-radius: 4px;
}
