@use "@styles/base" as *;

.customButton {
  @mixin mod($mod) {
    @include modifier("customButton", $mod) {
      @content;
    }
  }

  @mixin mods($mods...) {
    @each $mod in $mods {
      .customButton_#{$mod} & {
        @content;
      }
    }
  }
  overflow: hidden;
  position: relative;
  border: none;
  background-color: $YELLOW;
  color: $BLACK;
  @include option(width, 287px);
  @include option(height, 68px);
  @include option(font-size, 19, 22);
  font-weight: $FW-SEMI_BOLD;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: 0 7px 20px rgba(255, 211, 55, 0.6);

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    //left: -100%;
    bottom: 0;
    background: linear-gradient(110deg, transparent, #ffffff, transparent);
    animation-name: shineButton;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &__link {
    display: block;
    @include option(line-height, 68px);
    //line-height: 68px;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
}
@keyframes shineButton {
  from {
    transform: translateX(-100%);
  }
  85% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
