@use "@styles/base" as *;

.about {
  @mixin mod($mod) {
    @include modifier("about__step", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .about_#{$mod} & {
        @content;
      }
    }
  }

  font-weight: $FW-BOLD;
  position: relative;
  //@include option(height, 1350px, 2000px);

  &__bg {
    @include positionBg;
    background: radial-gradient(circle at 50% 70%, #ffffff, #ffe4b0);
  }

  &__wrap {
    position: relative;
    @include sectionLayer(80px, 49px, 76px 150px 109px, 47px 19px 61px);
  }

  &__doshed {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 70%;
    @include MOBILE {
      display: none;
    }
  }

  &__bgItem {
    position: absolute;
    @include NOT-DESK {
      display: none;
    }
  }

  &__sputnik {
    @include option(left, 195px);
    @include option(top, -184px);
    @include option(width, 210px);
  }

  &__ring {
    @include option(left, 173px);
    @include option(top, -155px);
    @include option(width, 190px);
  }

  &__sputnikImg {
    width: 100%;
  }

  &__list {
    //position: absolute;
    @include option(padding, 0px 50px 0px 44px, 0px 0px);
    width: 100%;
    display: flex;
    flex-direction: column;
    @include option(gap, 0px, 42px, 0);
    //@include option(height, 880px, 2088px, 2100px);
  }

  &__step {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include option(gap, 14px, 13px);
    @include NOT-MOB-2 {
      &_1 {
        @include option(margin, -131px 6px 0px 0px, 0px);
      }
      &_2 {
        @include option(margin, -75px 0px 0px 10px, 0px);
      }
      &_3 {
        @include option(margin, -60px 6px 0px 10px, 0px);
      }
    }

    &_left {
      align-self: start;
    }

    &_right {
      align-self: end;
    }
  }

  &__number {
    color: $RED;
    @include option(font-size, 52px);
    @include option(line-height, 55px);
  }

  &__info {
    display: flex;
    align-items: start;
    @include option(gap, 14px);
    z-index: 2;
    line-height: 142%;
    @include MOBILE {
      order: 2;
    }

    @include mod("0") {
      @include option(margin, 25px 0px 0px 14px, 0px);
    }
    @include mod("1") {
      @include option(margin, 0px -55px 0px 0px, 0px);
    }
    @include mod("2") {
      @include option(margin, 45px 0px 0px 4px, 0px);
    }
    @include mod("3") {
      @include option(margin, 35px -55px 0px 0px, 0px);
      @include option(gap, 8px, 0px);
    }
  }

  &__text {
    @include option(font-size, 18px);
    @include option(width, 350px);
    @include option(line-height, 27px);
    align-self: center;
    &_red {
      color: $RED;
    }

    //@include mod("2"){
    //  @include option(padding-top, 9px, 0px);
    //}
  }

  &__imgWrap {
    z-index: 2;
    @include MOBILE {
      order: 1;
    }
  }

  &__line {
    width: 100%;
    @include MOBILE {
      display: none;
    }
  }

  &__lineWrap {
    position: absolute;
    @include option(width, 830px);
    height: max-content;

    @include mod("0") {
      top: 4%;
      left: 20%;
    }

    @include mod("1") {
      top: 50%;
      right: 15%;
    }

    @include mod("2") {
      top: 20%;
      left: 13%;
    }
  }

  &__btn {
    @include option(width, 287px, 280px);
    @include option(height, 68px);
    @include option(margin-top, 16px, 0px);
    @include option(letter-spacing, 1.2px);
  }
}
