@use "@styles/base" as *;

.about {
  @mixin mod($mod) {
    @include modifier("lineWrap", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .about_#{$mod} & {
        @content;
      }
    }
  }

  font-weight: $FW-BOLD;
  position: relative;
  //@include option(height, 1350px, 2000px);

  &__bg {
    @include positionBg;
    background: radial-gradient(circle at 50% 70%, #ffffff, #ffe4b0);
  }

  &__wrap {
    position: relative;
    @include sectionLayer(80px, 49px, 76px 150px 106px, 47px 19px 61px);
  }

  &__doshed {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 70%;
    @include MOBILE {
      display: none;
    }
  }

  &__bgItem {
    position: absolute;
    @include NOT-DESK {
      display: none;
    }
  }

  &__sputnik {
    @include option(left, 170px);
    @include option(top, -174px);
    @include option(width, 234px);
  }

  &__ring {
    @include option(left, 193px);
    @include option(top, -149px);
    @include option(width, 190px);
  }

  &__sputnikImg {
    width: 100%;
  }

  &__list {
    //position: absolute;
    @include option(padding, 0px 50px 0px 44px, 0px 0px);
    width: 100%;
    display: flex;
    flex-direction: column;
    @include option(gap, 0px, 42px);
    @include option(height, 880px, 2088px, 2100px);
  }

  &__step {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    //@include option(height, 220px);
    @include option(gap, 28px, 13px);
    @include NOT-MOB-2 {
      &_0 {
        & .about__lineWrap {
          top: 0;
          left: 27%;
        }
      }
      &_1 {
        transform: translateY(-45%);
      }
      &_2 {
        transform: translateY(-75%);
        & .about__lineWrap {
          left: 15%;
        }
      }
      &_3 {
        transform: translateY(-98%);
      }
      //@for $i from 0 through 3 {
      //  &_#{$i} {
      //    transform: translateY(-40% * $i);
      //  }
      //}
    }

    &_left {
      align-self: start;
    }

    &_right {
      align-self: end;
    }
  }

  &__number {
    color: $RED;
    @include option(font-size, 52px);
    @include option(line-height, 55px);
  }

  &__info {
    display: flex;
    align-items: start;
    @include option(gap, 12);
    z-index: 2;
    line-height: 142%;
    @include MOBILE {
      order: 2;
    }
  }

  &__text {
    @include option(font-size, 18px);
    @include option(max-width, 300);
    align-self: center;
    &_red {
      color: $RED;
    }
  }

  &__imgWrap {
    z-index: 2;
    @include MOBILE {
      order: 1;
    }
  }

  &__line {
    width: 100%;
    @include MOBILE {
      display: none;
    }
  }

  &__lineWrap {
    position: absolute;
    @include option(width, 830px);
    height: max-content;

    //clip-path: polygon(0 0, 100% 100%);
    top: 20%;
    &_right {
      left: 20%;
    }

    &_left {
      right: 20%;
    }
  }

  &__btn {
    @include option(margin-top, 96px, 30px);
  }
}
